.l-container {
  max-width: 990px;
  margin: 0 auto;


}
.l-container  + .l-container {
  margin: 80px auto 0;
}

.card__list {
  display: grid;
  /* column-gap: 1fr 1fr 1fr; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-left: 0;

}

.card__item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card__link {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #333;
  text-decoration: none;
  height: 100%;
}

.card__img {
  width: 100%;
}

.card__img picture {

}

.card__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  aspect-ratio: 16/9;

}

.card__ttl {
  font-size: 20px;
}

.card__txt {
  font-size: 16px;
}


button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none
}

.btn {
  position: relative;
  border-radius: 9999px;
  background-color: rgb(218, 64, 40);
  color: #fff;
  min-width: 300px;
  min-height: 56px;
  padding: 8px 48px;
}

.btn i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.btn.right i {
  right: 24px;
}
.btn.left i {
  left: 24px;
}
.btn.sm {
  min-height: 48px;
  font-size: 12px;
  padding: 8px 32px;
}
.btn.sm.right i {
  right: 16px;
}
.btn.sm.left i {
  left: 16px;
}

.splide__track {
  padding: 2em 0;

}

.splide__slide {
  margin-right: 2em !important;
}
